.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
}
@media screen and (max-width: 1100px) {
    .logo {
        margin: auto var(--gap);
    }
}
.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (min-width: 775px) {
    #menu {
        max-width: 520px;
    }
}

#menu li {
    padding: 0 1rem;
    flex-grow: 1;
    flex-basis: 84px;
    text-align: center;
}

#menu a {
    font-size: 16px;
    font-weight: 600;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

#menu #item-0:hover,#menu #item-0-active {background-color: var(--bg-orange)}
#menu #item-0:hover a {color: var(--theme)}#menu #item-0-active a {color: #fff}

#menu #item-1:hover,#menu #item-1-active {background-color: var(--bg-yellow)}
#menu #item-1:hover a,#menu #item-1-active a {color: #000}

#menu #item-2:hover,#menu #item-2-active {background-color: var(--bg-green)}
#menu #item-2:hover a {color: var(--theme)} #menu #item-2-active a {color: #fff}

#menu #item-3:hover,#menu #item-3-active {background-color: var(--bg-blue)}
#menu #item-3:hover a {color: var(--theme)} #menu #item-3-active a {color: #fff}

#menu #item-4:hover,#menu #item-4-active {background-color: var(--bg-purple)}
#menu #item-4:hover a {color: var(--theme)} #menu #item-4-active a {color: #fff}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
